.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.splashBus {
  width: 100%;
  height: 250px;
  margin-bottom: 3em;
  background-image: url('./assets/busimg.jpg');
  background-position: center;
}

.selectRow {
  margin-bottom: 0.75em;
}

.customSelect {
  width: 100%;
}

.customTable {
  width: 100%;
}

/* 
.ant-select-selection--multiple {
  white-space: nowrap;
  height: 100px;
  overflow: auto
} */